#login{
    width:400px;
    height:550px;
    color:darkmagenta;
    text-align:center;
    border-radius: 30px;
    border: 2px rgb(146, 148, 133) solid;
    padding:50px;
    margin:20px auto;
    background: rgba(24, 24, 148, 0.288);
    backdrop-filter: blur(10px);
    box-shadow:0px 4px 20px black;
}

h1{
  font-size:2.5em;
  text-decoration:underline;
  text-decoration-color: rgba(30, 8, 110, 0.603);
  margin-bottom:80px;
  color:rgba(167, 223, 35, 0.904);
  -webkit-text-stroke:2px darkmagenta;
  font-family:cursive;
  text-underline-offset:6px;
}

input{
  padding:10px 5px;
  width:90%;
  border-radius:0px 10px 10px 0px;
  border:none;
  margin:10px;
  box-shadow:2px 2px 5px black;
  font-size:large;
  font-family:'Times New Roman', Times, serif;
}

input:focus{
  outline:none;
}

h3{
  text-align:left;
  color:white;
  margin-left:13px
}

a{
  float:left;
  color:white;
  font-size:small;
  margin-left:20px;
}

button{
  padding:10px 5px;
  width:50%;
  border-radius:20px;
  border:none;
  background-color:darkmagenta;
  color:rgb(192, 245, 106);
  font-weight:900;
  margin-top:10px;
  font-size:20px;
  border:1px solid white;
}

p{
  color:white;
  margin-top:70px;
  text-decoration:underline;
  font-size:small;
}

p:hover,button:hover{
  cursor:pointer;
}



